/* Färgschema https://coolors.co/visualizer/0d3b66-faf0ca-f4d35e-ee964b-f95738 */
@import url(mobilestyles.css);

:root{
    --primary-color:#0d3b66;
    --secondary-color:#faf0ca;
    --secondary-color2:#0c375f;
    --accent-color:#f4d35e;
    --accent-color2:#ee964b;
    --accent-color3:#f95738;
    --platssize:4px;
}

.MobilFörbud{
    position:fixed;
    font-size: 50px;
    height:50%;
    width:50%;
    z-index:3;
    left:30%;
    right:30%;
    top:20%;
    visibility:hidden;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.content{
    display:grid;
    width:99.5vw;
    padding:0;
    margin:0;
    grid-template-columns: repeat(10,1fr);
    grid-auto-rows: minmax(60px, auto);
    border:0;
    gap:0;
    position:absolute;
    
    grid-template-areas:
    "header header header header header header header header header header"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer";
}

.biljetterContent{
    display:grid;
    width:99.5vw;
    padding:0;
    margin:0;
    grid-template-columns: repeat(6,1.25fr);
    grid-auto-rows: minmax(60px, auto);
    border:0;
    gap:0;

    grid-template-areas:
    "header header header header header header"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "mainB mainB mainB mainB mainB mainB"
    "footer footer footer footer footer footer";
}

.personalcontent{
    display:grid;
    width:99.5vw;
    padding:0;
    margin:0;
    grid-template-columns: repeat(10,1fr);
    grid-auto-rows: minmax(60px, auto);
    border:0;
    gap:0;

    grid-template-areas:
    "header header header header header header header header header header"
    "mainP mainP mainP mainP mainP mainP mainP mainP mainP mainP"
    "mainP mainP mainP mainP mainP mainP mainP mainP mainP mainP"
    "mainP mainP mainP mainP mainP mainP mainP mainP mainP mainP"
    "mainP mainP mainP mainP mainP mainP mainP mainP mainP mainP"
    "mainP mainP mainP mainP mainP mainP mainP mainP mainP mainP"
    "mainP mainP mainP mainP mainP mainP mainP mainP mainP mainP"
    "mainP mainP mainP mainP mainP mainP mainP mainP mainP mainP"
    "mainP mainP mainP mainP mainP mainP mainP mainP mainP mainP"
    "mainP mainP mainP mainP mainP mainP mainP mainP mainP mainP"
    "footer footer footer footer footer footer footer footer footer footer";
}

.fragorcontent{
    display:grid;
    width:99.5vw;
    padding:0;
    margin:0;
    grid-template-columns: repeat(10,1.25fr);
    grid-auto-rows: minmax(60px, auto);
    border:0;
    gap:0;

    grid-template-areas:
    "header header header header header header header header header header"
    "mainF mainF mainF mainF mainF mainF mainF mainF mainF mainF"
    "footer footer footer footer footer footer footer footer footer footer";
}

body{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin: 0;
    width:99.5vw;
    height:100%;
    overflow-x:hidden;
}

.personalM{
    grid-area: mainP;
    background-color:var(--primary-color);
}

.indexH{
    grid-area: header;
    background-color:var(--secondary-color2);
    padding: 0;
    margin: 0;
    gap: 0;
    border: 0;
    display:grid;
    grid-template-columns:1fr 3fr;
    grid-template-areas:
    "gate annat";
}

.fragorH{
    grid-area: headerF;
    background-color:var(--secondary-color2);
    padding:0;
    margin:0;
    border:0;
    height:60px;
    gap:0;
}

.content .bild{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    width:50px;
    height:50px;
    margin:20px;
    margin-top:15px;
}

.content .bild .cart{
    width:50px;
    height:50px;
}

.content .bild .cart:hover{
    cursor:pointer;
}

.IntroduktionBox{
    background-color: var(--accent-color3);
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 12;
    text-align: center;
    box-shadow:black 2px 5px 15px;
    border-radius:20px;
}

.Intro2{
    display:flexbox;
    position:absolute;
}

.Intro2 a{
    text-decoration: none;
    color:black;
}

.indexM img{
    opacity:20%;
    position:absolute;
    width:99.5vw;
    height:500px;
    left: 50%;
    transform:translate(-50%, 0);
    top:60px;
    z-index:0;
    -webkit-mask: linear-gradient(360deg, transparent 0%, #380A46 100%) 0% 0% no-repeat padding-box;
           -mask: linear-gradient(360deg, transparent 0%, #380A46 100%) 0% 0% no-repeat padding-box;
}

.Huvud{
    font-size: 60px;
    font-weight: bold;
    text-align:center;
    font-family: myFirstFont;
    color:var(--secondary-color);
    text-shadow:var(--accent-color2) 0px 0px 5px;
    z-index:1;
    position:absolute;
    left: 50%;
    transform:translate(-50%, 0);
    opacity:80%;
}

.dividerIndex{
    width:60vw;
    height:2px;
    z-index:1;
    position:absolute;
    left:50%;
    transform:translate(-50%, 0);
    top:550px;
    background: linear-gradient(90deg, #886a0800 0%, var(--accent-color3) 15%, var(--accent-color3) 85%, #886a0800 100%);
}

.tes{
    font-size: 20px;
    font-weight: bold;
    color:var(--secondary-color);
    text-shadow:var(--accent-color2) 0px 0px 5px;
    position:absolute;
    left:50%;
    transform:translate(-50%, 0);
    top:480px;
}

.biljetterM{
    grid-area: mainB;
    background-color:var(--primary-color);
}

.biljetterH{
    grid-area: headerB;
    background-color:var(--secondary-color2);
    padding: 0;
    margin: 0;
    gap: 0;
    border: 0;
    height:60px;
}

.biljetterH a{
    margin:0;
    text-align: left;
    margin-left:20px;
    color:var(--accent-color2);
    font-family: myFirstFont;
    font-size: 50px;
    text-shadow: 3px 2px black;
    text-decoration: none;
    height:fit-content;
    width:fit-content;
}

.fragorH a{
    margin:0;
    text-align: left;
    margin-left:20px;
    color:var(--accent-color2);
    font-family: myFirstFont;
    font-size: 50px;
    text-decoration: none;
    text-shadow: 3px 2px black;
    text-decoration: none;
    height:fit-content;
    width:fit-content;
}

@font-face {
    font-family: myFirstFont;
    src: url(Resources/Fonts/Soulmeh.otf);
  }

@font-face {
    font-family: moonKids;
    src: url(Resources/Fonts/Moonkids.otf);
  }

.indexH .h1{
    margin:0;
    text-align: left;
    margin-left:20px;
    color:var(--accent-color2);
    font-family: myFirstFont;
    font-size: 50px;
    text-shadow: 3px 2px black;
    text-decoration: none;
    grid-area:gate;
    height:fit-content;
    width:fit-content;
}

.flexBoxBiljetter{
    display:flex;
    grid-column-start:2;
    grid-column-end:6;
    grid-row-start:5;
    grid-row-end:13;
    background-color: var(--secondary-color2);
    border: 3px solid black;
    justify-content: space-evenly;
    align-items: center;
}

.flexBoxBiljetter .biljett1{
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:1fr 1fr 6fr;
    grid-template-areas:
    "h11"
    "h21"
    "p1";
    background-color:var(--accent-color2);
    width: 260px;
    height: 380px;
    border-radius:3px;
    transition: 0.5s;
    box-shadow:2px 3px 3px rgb(103, 104, 103);
}

.flexBoxBiljetter .biljett2{
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:1fr 1fr 6fr;
    grid-template-areas:
    "h12"
    "h22"
    "p2";
    background-color:var(--accent-color2);
    width: 260px;
    height: 380px;
    border-radius:3px;
    transition: 0.5s;
    box-shadow:2px 3px 3px rgb(103, 104, 103);
}

.flexBoxBiljetter .biljett1 .h1{
    grid-area:h11;
    margin-top:10px;
    text-align:center;
    height:fit-content;   
}

.flexBoxBiljetter .biljett1 h2{
    grid-area:h21;
    margin:0;
    margin-left:5px;
    margin-bottom:20px;
    height:20px;
}

.flexBoxBiljetter .biljett1 .txt{
    grid-area:p1;
    margin-left:5px;
}

.flexBoxBiljetter .biljett2 h1{
    grid-area:h12;
    margin-top:10px;
    text-align:center;
}

.flexBoxBiljetter .biljett2 h2{
    grid-area:h22;
    margin:0;
    margin-left:5px;
    margin-bottom:20px;
    height:20px;
}

.flexBoxBiljetter .biljett2 .txt{
    grid-area:p2;
    margin-left:5px;
}

.flexBoxBiljetter .biljett2:hover{
    width: 280px;
    height: 410px;
}

.flexBoxBiljetter .biljett1:hover{
    width: 280px;
    height: 410px;
}

.indexM{
    grid-area: main;
    background-color:var(--primary-color);
    height:1000px;
}

.biljetterM h1{
    text-align: center;
    margin-top: 120px;
    font-size: 50px;
    font-family: moonKids;
    text-decoration:underline;
    color:#d3d4d4
}

.navbarindex{
    background:none;
    height:fit-content;
    width:fit-content;
}

.navbarindex ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbarindex li {
    float:left;
}

.navbarindex a{
    color: var(--secondary-color);
    text-decoration: none;
    display:block;
    padding:15px;
    transition:0.2s;    
    font-size:16px;
    font-weight:bold;
}

.navbarindex a:hover{
    color: var(--accent-color2);
    padding-top:13px;
    transition:0.3s;
}

.HomeNav{
    text-shadow:var(--accent-color2) 1px 10px 12px;
    color:var(--accent-color3) !important;
}

.BiljetterNav{
    text-shadow:var(--accent-color2) 1px 10px 12px;
    color:var(--accent-color3) !important;
}

.PersonalNav{
    text-shadow:var(--accent-color2) 1px 10px 12px;
    color:var(--accent-color3) !important;
}

.FragorNav{
    text-shadow:var(--accent-color2) 1px 10px 12px;
    color:var(--accent-color3) !important;
}

.containerPersonal{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 9;
}

.Vlad{
    display:flex;
    border: 1px solid var(--accent-color2);
    height: 350px;
    width: 265px;
    margin: 15px;
    margin-top: 4px;
    flex-wrap:wrap;
    transition:0.2s;
}

.Vlad img{
    width:inherit;
    max-height:88%;
}

.Vlad:hover{
    height:360px;
    width:275px;
}

.Vlad .flex{
    display:flex;
    background-color:var(--accent-color2);
    width:inherit;
    height:12%;
    text-align:center;
    align-self:end;
    margin-bottom: 0;
    justify-content:center;
}

.Vlad .flex h1{
    font-size: 23px;
    align-self: center;
}

.Noah{
    display:flex;
    border: 1px solid var(--accent-color);
    height: 350px;
    width: 265px;
    margin: 15px;
    margin-top: 4px;
    flex-wrap:wrap;
    transition:0.2s;
}

.Noah:hover{
    height:360px;
    width:275px;
}

.Noah .flex{
    display:flex;
    background-color:var(--accent-color);
    width:inherit;
    height:12%;
    text-align:center;
    align-self:end;
    margin-bottom: 0;
    justify-content:center;
}

.Noah .flex h1{
    font-size: 23px;
    align-self: center;
}

.Noah img{
    width:inherit;
    max-height:88%;
}

.Casper{
    display:flex;
    border: 1px solid var(--accent-color3);
    height: 350px;
    width: 265px;
    margin: 15px;
    margin-top: 4px;
    flex-wrap:wrap;
    transition:0.2s;
}

.Casper:hover{
    height:360px;
    width:275px;
}

.Casper .flex{
    display:flex;
    background-color:var(--accent-color3);
    width:inherit;
    height:12%;
    align-self:end;
    margin-bottom: 0;
    justify-content:center;

}


.Casper .flex h1{
    font-size:23px;
    align-self:center;
}

.Casper img{
    width:inherit;
    max-height:88%;
}

.Anton{
    display:flex;
    border: 1px solid var(--accent-color3);
    height: 350px;
    width: 265px;
    margin: 15px;
    margin-top: 4px;
    flex-wrap:wrap;
    transition:0.2s;
}

.Anton:hover{
    height:360px;
    width:275px;
}

.Anton .flex{
    display:flex;
    background-color:var(--accent-color3);
    width:inherit;
    height:12%;
    text-align:center;
    align-self:end;
    margin-bottom: 0;
    justify-content:center;
}

.Anton .flex h1{
    font-size: 23px;
    align-self: center;
}

.Anton img{
    width:inherit;
    max-height:88%;
}

.Oskar{
    display:flex;
    border: 1px solid var(--accent-color);
    height: 350px;
    width: 265px;
    margin: 15px;
    margin-top: 4px;
    flex-wrap:wrap;
    transition:0.2s;
}


.Oskar:hover{
    height:360px;
    width:275px;
}

.Oskar img{
    width:inherit;
    max-height:88%;
}

.Oskar .flex{
    display:flex;
    background-color:var(--accent-color);
    width:inherit;
    height:12%;
    text-align:center;
    align-self:end;
    margin-bottom: 0;
    justify-content:center;
}

.Oskar .flex h1{
    font-size: 23px;
    align-self: center;
}

.feet{
    grid-area:footer;
    display:grid;
    background-color:var(--secondary-color2);
    min-height:150px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;

    grid-template-areas:
    "sponsor kontakt socialamedier logo";
}

.feet .sponsorer{
    grid-area:sponsor;
    display:grid;
    margin:10px;
    margin-top:25px;
    gap:5px;
}

.feet .sponsorer .preem{
    width:40px;
    height:40px;
}

.feet .kontakt{
    margin:10px;
    margin-top:25px;
    grid-area:kontakt;
    display:grid;
    grid-template-columns:40px 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-areas:
    "logoM mail"
    "logoI insta"
    "logoT telefon";
}

.feet .kontakt .Mailen{
    font-size:22px;
    color:whitesmoke;
    text-decoration-line:underline;
    height:fit-content;
    width:fit-content;
    grid-area:mail;
}

.feet .kontakt .Instagram{
    font-size:22px;
    color:whitesmoke;
    text-decoration-line:underline;
    height:fit-content;
    width:fit-content;
    grid-area:insta;
}

.feet .kontakt .Telefon{
    font-size:22px;
    color:whitesmoke;
    text-decoration-line:underline;
    height:fit-content;
    width:fit-content;
    grid-area:telefon;
}

.feet .kontakt .LogoM{
    height:18px;
    width:25px;
    grid-area:logoM;
}

.feet .kontakt .LogoI{
    height:25px;
    width:28px;
    grid-area:logoI;
}

.feet .kontakt .LogoT{
    height:25px;
    width:25px;
    grid-area:logoT;
}

.feet .socialamedier{
    margin:10px;
    margin-top:25px;
    grid-area:socialamedier;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.feet .socialamedier .HemA{
    text-decoration: underline;
    color:rgb(119, 119, 119);
    margin-left:125px;
}

.feet .socialamedier .TävlingarA{
    text-decoration: underline;
    color:rgb(119, 119, 119);
    margin-left:125px;
}

.feet .socialamedier .FragorA{
    text-decoration: underline;
    color:rgb(119, 119, 119);
    margin-left:125px;
}

.feet .socialamedier .PersonalA{
    text-decoration: underline;
    color:rgb(119, 119, 119);
    margin-left:125px;
}


.feet .logo{
    margin:10px;
    margin-top:25px;
    grid-area:logo;
    display:flex;
    justify-content:right;
}

.feet .logo img{
    width:150px;
    height:150px;
    transform:translateX(-20%);
}

.flexBoxPlatser{
    visibility:hidden;
    display:grid;
    grid-template-columns: repeat(25,1fr);
    grid-template-rows: minmax(40px, auto);
    grid-row-start: 13;
    grid-row-end: 13;
    grid-column-start:2;
    grid-column-end:7;
    transform:translateX(-10%);
    transition: opacity 0.5s ease, visibility 0s 0.5s;

    grid-template-areas: 
    "plats1 plats2 plats3 plats4 plats5 plats6 plats7 plats8 plats9 plats10 plats11 plats12 plats13 plats14 plats15 plats16 plats17 plats18 plats19 plats20 plats21 plats22 plats23 plats24 plats25"
    "plats26 plats27 plats28 plats29 plats30 plats31 plats32 plats33 plats34 plats35 plats36 plats37 plats38 plats39 plats40 plats41 plats42 plats43 plats44 plats45 plats46 plats47 plats48 plats49 plats50";

}


.flexBoxPlatser .plats1{
    grid-area:plats1;
    background-color: #088853;
    margin-top:var(--platssize);
    border:1px solid black;
    width: 40px;
    height: 40px;
}

.flexBoxPlatser .plats2{
    grid-area:plats2;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats3{
    grid-area:plats3;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats4{
    grid-area:plats4;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats5{
    grid-area:plats5;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats6{
    grid-area:plats6;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats7{
    grid-area:plats7;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats8{
    grid-area:plats8;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats9{
    grid-area:plats9;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats10{
    grid-area:plats10;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats11{
    grid-area:plats11;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats12{
    grid-area:plats12;
    background-color: #088853;   
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats13{
    grid-area:plats13;
    background-color: #088853;   
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats14{
    grid-area:plats14;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats15{
    grid-area:plats15;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats16{
    grid-area:plats16;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats17{
    grid-area:plats17;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats18{
    grid-area:plats18;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats19{
    grid-area:plats19;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats20{
    grid-area:plats20;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats21{
    grid-area:plats21;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats22{
    grid-area:plats22;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats23{
    grid-area:plats23;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats24{
    grid-area:plats24;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

.flexBoxPlatser .plats25{
    grid-area:plats25;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    border:1px solid black;
}

/* ANDRA RADEN */

.flexBoxPlatser .plats26{
    grid-area:plats26;
    background-color: #088853;
    border:1px solid black;
    width: 40px;
    height: 40px;
    margin-top:5px;
}

.flexBoxPlatser .plats27{
    grid-area:plats27;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats28{
    grid-area:plats28;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats29{
    grid-area:plats29;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats30{
    grid-area:plats30;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats31{
    grid-area:plats31;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats32{
    grid-area:plats32;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats33{
    grid-area:plats33;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats34{
    grid-area:plats34;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats35{
    grid-area:plats35;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats36{
    grid-area:plats36;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats37{
    grid-area:plats37;
    background-color: #088853;   
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats38{
    grid-area:plats38;
    background-color: #088853;   
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats39{
    grid-area:plats39;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats40{
    grid-area:plats40;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats41{
    grid-area:plats41;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats42{
    grid-area:plats42;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats43{
    grid-area:plats43;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats44{
    grid-area:plats44;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats45{
    grid-area:plats45;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats46{
    grid-area:plats46;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats47{
    grid-area:plats47;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats48{
    grid-area:plats48;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats49{
    grid-area:plats49;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
}

.flexBoxPlatser .plats50{
    grid-area:plats50;
    background-color: #088853;
    margin:var(--platssize);
    width: 40px;
    height: 40px;
    margin-top:5px;
    border:1px solid black;
    cursor:pointer;
}

.OBS{
    grid-column: 3 / 5;
    grid-row: 14 / 14;
    font-weight: bolder;
    color:var(--secondary-color);
    transform:translate(12%, 0);
}

.OBS_OBS{
    display:none;
}

.fragorM{
    grid-area: mainF;
    background-color:var(--primary-color);
    height:1000px;
}

.beställning{
    grid-row-start:18;
    grid-column-start:2;
    grid-column-end:4;
    display:grid;
    background-color: var(--secondary-color2);
    grid-template-columns:100%;
    grid-template-rows:minmax(30px, auto);
    border-radius:50px;
    margin-right:20px;

    grid-template-areas:
    "rubrik"
    "biljetter1"
    "biljetter2";
}

.beställning h1{
    grid-area: rubrik;
    text-align:center;
    height:fit-content;
}

.VIPräknare{
    display:flex;
    margin:10px;
    grid-area: biljetter1;
    margin-top:50px;
}

.VIPräknare .button{
    font-size:25px;
    border-radius:50%;
    height:30px;
    width:30px;
    margin:10px;
    margin-bottom:0;
    margin-top:3px;
    transition:0.2s;
    justify-self:right;
}

.VIPräknare .vipButtons{
    display:flex;
    justify-content:right;
    width:200px;
}

.VIPräknare button:hover{
    cursor:pointer;
    background-color:gray;
}

.vipButtons .antalLabel{
    width:30px;
    text-align: center;
}

.VIPräknare label{
    font-size:30px;
    font-weight:bold;
    width:220px;
}

.Standardräknare{
    display:flex;
    flex-direction: row;
    margin:10px;
    grid-area:biljetter2;
    height:60px;
}

.Standardräknare .button2{
    font-size:25px;
    border-radius:50%;
    height:30px;
    width:30px;
    margin:10px;
    margin-bottom:0;
    margin-top:3px;
    transition:0.2s;
    justify-self:right;
}

.Standardräknare .standardButtons{
    display:flex;
    justify-content:right;
    width:200px;
}

.Standardräknare .antalLabel2{
    width:30px;
    text-align: center;
}


.Standardräknare button:hover{
    cursor: pointer;
    background-color:gray;
}


.Standardräknare label{
    font-size:30px;
    font-weight: bold;
    width:220px;
}

.beställning .priset{
    font-size:30px;
    margin:20px;
}

.bordPlacering{
    grid-column-start:4;
    grid-column-end:6;
    grid-row-start:18;
    grid-row-end:22;
    background-color: var(--secondary-color2);
    border-radius:50px;

    display:flex;
    flex-direction: column;
    gap: 10px;
    padding:30px;
}

.bordPlacering .row{
    display: flex;
    gap: 5px;
    
}

.bordPlacering .seat{
    width:20px;
    height:20px;
    background-color: #088853;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bordPlacering .seat.preview{
    background-color: #0aa162;
    outline: black auto 2px;
    opacity: 70%;
}

.bordPlacering .seat.selected{
    background-color: var(--accent-color2);
    outline: black auto 2px;
}

.bordPlacering .seat.booked{
    background-color: rgb(177, 12, 12);
    cursor: not-allowed;
}

.bordPlacering .seat.vip.booked {
    background-color: rgb(177, 12, 12); 
    position: relative;
}

.bordPlacering .seat.vip.booked::after {
    content: '★'; 
    color: gold; 
    font-size: 12px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#seatSelectionLabel{
    margin-top: 20px;
    font-size: 12px;
    color: var(--accent-color);
    text-align: center;
    font-weight: bold;
    grid-row-start: 21;
    grid-column-start:4;
    grid-column-end:5;
}

